<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key = "test" value="Esto es una lectura de fichero"/>
		<add key = "fichero" value="C:\\Users\\Julia\\source\\repos\\ClassLibrary1\\ApiCaller\\Test.xml"/>
		<add key = "pizzas" value="C:\\Users\\Julia\\source\\repos\\ClassLibrary1\\ApiCaller\\Pizza.xml"/>
	</appSettings>
</configuration>